<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<style>
	.pair {
		margin: 1em 0;
		position: relative;
		min-height: 3em;
		float: left;
		width: 50%;
		border-bottom: 1px dotted #bbb;
	}
	.pair > div {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 16px;
		font-weight: normal;
		opacity: .4;
	}
	</style>
</head>
<body>
<%- content %>
</body>
</html>