* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: Helvetica, sans-serif;
	background-color: #F2E8D5;
	margin: 0 auto;
	max-width: 34em;
	padding: 0 1em;
}
label,
code {
	font-family: Consolas, monospace;
}
abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
}
h1 {
	font-size: 8.1vw;
	font-family: Helvetica, sans-serif;
}
@media (min-width: 34em) {
	h1 {
		font-size: 3.1em;
	}
}

/* Form */
form {
	margin: 1em 0;
}
input,
button {
	-webkit-appearance: none; /* for iOS */
	border: 1px solid #bbbdbf;
	border-radius: .3em;
	border-collapse: separate; /* IE9 issue with box-shadow when inside tables http://stackoverflow.com/questions/5617455/issue-with-box-shadow-on-ie9 */
	box-shadow: inset 0 0 1px 3px rgba( 0, 0, 0, 0.04 );
}
input:focus,
button:focus {
	outline: none;
	border: 1px solid #999;
	box-shadow: 0 0 0 3px #c3b9a5;
}
input {
	vertical-align: middle;
	font-size: 1em;
	padding: .4em 4em .4em .6em;
}
button {
	font-size: .8125em;
	padding: .2em .6em;
	text-transform: uppercase;

	text-shadow: 1px 1px 1px #222;
	border-color: #4d6a81;	
	color: #fff;
	background-color: #4d6a81;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.25)); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255,255,255,0)), color-stop(rgba(0,0,0,.25))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.25)); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.25)); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.25)); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,.25)); /* W3C */
}
.form-group {
	display: inline-block;
	position: relative;
	width: 100%;
}
.form-group input {
	width: 100%;
}
.form-group button {
	position: absolute;
	top: .3em;
	right: .4em;
}
.note {
	font-size: .8125em;
}

@media ( min-width: 27em ) {
	.form-group {
		width: 70%;
	}
}

/* Results Tables */
.results {
	position: relative;
	margin-left: -1em;
	margin-right: -1em;
}
.results .name {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.results [class^="icon-"],
.results [class*=" icon-"] {
	font-size: 1.25em;
	vertical-align: text-bottom;
}
.results table {
	/*opacity: .4;*/
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 4px;
}
.results table td,
.results table th {
	padding: .4em .8em .4em .2em;
	height: 2.4em;
}
.results table td:first-child + td,
.results table th:first-child + th {
	white-space: nowrap;
	padding-left: .8em;
}
.results table thead,
.results table tbody td:first-child,
.results table .unsupported {
	pointer-events: none;
	visibility: hidden;
}
.results table:first-child thead,
.results table:first-child tbody td:first-child,
.results table:first-child .unsupported {
	pointer-events: default;
	visibility: visible;
}
.results table tbody td {
	font-size: .875em;
}
.results table tbody td:first-child {
	color: #787266;
	border-bottom: 1px dotted #ccc;
}
.results table tbody td:first-child + td {
	color: #fff;
}

@media ( min-width: 30em ) {
	.results table {
		border-spacing: 6px;
	}
	.results table tbody td:first-child + td {
		font-size: 1em;
	}
}

.supported td + td {
	background-color: #39B54A;
}
.aliased td + td {
	background-color: #A8BD04;
}
.fallback td + td,
.unsupported td + td {
	background-color: #C44230;
}